USE [master]
GO
/****** Object:  Database [MasterPol_Малюгин]    Script Date: 29.04.2025 18:21:52 ******/
CREATE DATABASE [MasterPol_Малюгин]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterPol_Малюгин', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MasterPol_Малюгин.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterPol_Малюгин_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MasterPol_Малюгин_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterPol_Малюгин].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterPol_Малюгин]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 29.04.2025 18:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] NOT NULL,
	[MaterialType] [nvarchar](50) NOT NULL,
	[PercentageOfMaterialDefects] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products]    Script Date: 29.04.2025 18:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products](
	[ID_Partner_Product] [int] NOT NULL,
	[Product] [int] NOT NULL,
	[Partner] [int] NOT NULL,
	[NumberOfProducts] [int] NOT NULL,
	[DateOfSale] [date] NOT NULL,
 CONSTRAINT [PK_Partner_products] PRIMARY KEY CLUSTERED 
(
	[ID_Partner_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 29.04.2025 18:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID_Partner] [int] NOT NULL,
	[Type_Partner] [nvarchar](50) NOT NULL,
	[Partner_Name] [nvarchar](50) NOT NULL,
	[Director] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[LegalAddress] [nvarchar](100) NOT NULL,
	[TIN] [bigint] NOT NULL,
	[Rating] [tinyint] NOT NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID_Partner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 29.04.2025 18:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[ID_Type_Product] [int] NOT NULL,
	[ProductTypeName] [nvarchar](50) NOT NULL,
	[ProductTypeFactor] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[ID_Type_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29.04.2025 18:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID_Product] [int] NOT NULL,
	[ProductType] [int] NOT NULL,
	[NameProduct] [nvarchar](100) NOT NULL,
	[Article] [int] NOT NULL,
	[MinimumCostPartner] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material_type] ([ID], [MaterialType], [PercentageOfMaterialDefects]) VALUES (1, N'Тип материала 1', N'0,10%')
INSERT [dbo].[Material_type] ([ID], [MaterialType], [PercentageOfMaterialDefects]) VALUES (2, N'Тип материала 2', N'0,95%')
INSERT [dbo].[Material_type] ([ID], [MaterialType], [PercentageOfMaterialDefects]) VALUES (3, N'Тип материала 3', N'0,28%')
GO
INSERT [dbo].[Partner_products] ([ID_Partner_Product], [Product], [Partner], [NumberOfProducts], [DateOfSale]) VALUES (1, 1, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[Partner_products] ([ID_Partner_Product], [Product], [Partner], [NumberOfProducts], [DateOfSale]) VALUES (2, 3, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[Partner_products] ([ID_Partner_Product], [Product], [Partner], [NumberOfProducts], [DateOfSale]) VALUES (3, 4, 1, 37400, CAST(N'2024-06-07' AS Date))
GO
INSERT [dbo].[Partners] ([ID_Partner], [Type_Partner], [Partner_Name], [Director], [Email], [PhoneNumber], [LegalAddress], [TIN], [Rating]) VALUES (1, N'ЗАО', N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7)
INSERT [dbo].[Partners] ([ID_Partner], [Type_Partner], [Partner_Name], [Director], [Email], [PhoneNumber], [LegalAddress], [TIN], [Rating]) VALUES (2, N'ООО', N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7)
INSERT [dbo].[Partners] ([ID_Partner], [Type_Partner], [Partner_Name], [Director], [Email], [PhoneNumber], [LegalAddress], [TIN], [Rating]) VALUES (3, N'ПАО', N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', 4440391035, 7)
GO
INSERT [dbo].[Product_type] ([ID_Type_Product], [ProductTypeName], [ProductTypeFactor]) VALUES (1, N'Ламинат', CAST(2.35 AS Decimal(18, 2)))
INSERT [dbo].[Product_type] ([ID_Type_Product], [ProductTypeName], [ProductTypeFactor]) VALUES (2, N'Массивная доска', CAST(5.15 AS Decimal(18, 2)))
INSERT [dbo].[Product_type] ([ID_Type_Product], [ProductTypeName], [ProductTypeFactor]) VALUES (3, N'Паркетная доска', CAST(4.34 AS Decimal(18, 2)))
GO
INSERT [dbo].[Products] ([ID_Product], [ProductType], [NameProduct], [Article], [MinimumCostPartner]) VALUES (1, 3, N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, CAST(4456.90 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID_Product], [ProductType], [NameProduct], [Article], [MinimumCostPartner]) VALUES (2, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, CAST(7330.99 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID_Product], [ProductType], [NameProduct], [Article], [MinimumCostPartner]) VALUES (3, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, CAST(1799.33 AS Decimal(18, 2)))
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Partners] FOREIGN KEY([Partner])
REFERENCES [dbo].[Partners] ([ID_Partner])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Partners]
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Products] FOREIGN KEY([Product])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([ProductType])
REFERENCES [dbo].[Product_type] ([ID_Type_Product])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
USE [master]
GO
